[submodule "assets/libs/vanilla-lazyload"]
	path = assets/libs/vanilla-lazyload
	url = https://github.com/verlok/vanilla-lazyload.git
[submodule "assets/libs/flickity"]
	path = assets/libs/flickity
	url = https://github.com/metafizzy/flickity.git
[submodule "assets/libs/toastr"]
	path = assets/libs/toastr
	url = https://github.com/CodeSeven/toastr.git
[submodule "assets/libs/animate.css"]
	path = assets/libs/animate.css
	url = https://github.com/animate-css/animate.css.git
