html {
    scroll-padding-top: 92px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
img, a {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ol, ul {
    list-style: none;
}
h1, h2, h4, h6 {
    font-family: 'Red Rose',sans-serif;
}
h2, h4 {
    font-weight: 600;
}
.animated {
    opacity: 0;
}

/*  Navbar  */
.navbar {
    padding: 10px 40px;
    background: none;
}
nav img {
    width: 40px;
}
nav ul li {
    margin-left: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
nav ul li a {
    color: white!important;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0!important;
}
nav ul li:hover {
    border-bottom: 2px solid #CD8A67;
}
nav ul li a:focus {
    border-bottom: 2px solid #CD8A67;
}
/* Navbar menu button animation*/
.burger {
    cursor: pointer;
    top: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    transform-origin: 50% 50%;
    padding: 0;
}
.burger:focus {
    -moz-outline: none;
    -webkit-outline: none;
    outline: none;
}
.burger span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}
.burger > span:nth-child(2) {
    margin: 10px 0;
}
.burger span:first-child, .burger span:nth-child(2), .burger span:last-child {
    top: 0;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}
.burger.active {
    position: relative;
    transform: rotate(360deg);
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
}
.burger.active span:first-child {
    top: 12.0333333333px;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
}
.burger.active span:nth-child(2) {
    top: -0.1333333333px;
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}
.burger.active span:last-child {
    top: -12.1333333333px;
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}

/*  Banner  */
.banner {
    position: relative;
    background-image: url(../images/background/Background-image.svg), linear-gradient(135deg, rgba(76,45,177,1) 0%, rgba(8,4,80,1) 100%);
    background-attachment: scroll;
    background-size: contain;
    background-position-x: left;
    background-repeat: no-repeat;
    border-radius: 0 0 100px 100px;
}
.banner > div > div:nth-child(1) > div:nth-child(1) > div > img {
    width: 100%;
    border-radius: 15px;
    color: white;
}
.lazy-load {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}
.banner > div > div > div:nth-child(2) span {
    background-image: url(../images/background/laptop.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.banner > div > div > div:nth-child(1) > h1 {
    margin: 0;
    color: white;
    white-space: nowrap;
    line-height: 1.5;
}
#about {
    -webkit-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
}
#about > div {
    height: 100%;
    text-align: center;
}
#about h2 {
    color: #4C2DB1;
}
#about h2::before {
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/background/title-square.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
#about h2::after {
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/background/title-square.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#about p span {
    text-decoration: underline;
    color: #4C2DB1;
}
.spacer {
    height: 100px;
}
#development {
    padding: 50px 0;
}
#development > div > div > div:nth-child(1n) > div {
    background-color: white;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    border-radius: 50px;
}
#development > div > div > div:nth-child(1) h4::before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 30px;
    background-image: url(../images/background/front-end.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
#development > div > div > div:nth-child(2) h4::before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 30px;
    background-image: url(../images/background/back-end.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
#development > div > div > div:nth-child(1n) > div > h4 {
    text-align: center;
}
#technology-stack {
    padding: 50px 0;
}
#technology-stack > div > div:nth-child(1) {
    padding-bottom: 50px;
}
#technology-stack > div > div > div > h2 {
    color: #4C2DB1;
    text-transform: uppercase;
}
#technology-stack > div > div:nth-child(2) > div:nth-child(1n) {
    display: flex;
    justify-content: center;
}
#technology-stack > div > div:nth-child(2) > div:nth-child(1n) > span {
    display: block;
    width: 100px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.gallery-cell-1 > span {
    background-image: url(../logo/html5.svg);
}
.gallery-cell-2 > span {
    background-image: url(../logo/css3.svg);
}
.gallery-cell-3 > span {
    background-image: url(../logo/javascript.svg);
}
.gallery-cell-4 > span {
    background-image: url(../logo/php.svg);
}
.gallery-cell-5 > span {
    background-image: url(../logo/MySQL.svg);
}
.gallery-cell-6 > span {
    background-image: url(../logo/bootstrap.svg);
}
.gallery-cell-7 > span {
    background-image: url(../logo/jquery.svg);
}
.gallery-cell-8 > span {
    background-image: url(../logo/wordpress.svg);
}
.gallery-cell-9 > span {
    background-image: url(../logo/google-analytics.svg);
}
.gallery-cell-10 > span {
    background-image: url(../logo/adobe-photoshop.svg);
}
.gallery-cell-11 > span {
    background-image: url(../logo/adobe-xd.svg);
}
.gallery-cell-12 > span {
    background-image: url(../logo/adobe-illustrator.svg);
}
.flickity-page-dots .dot {
    background: #4C2DB1!important;
}
#projects {
    padding: 50px 0 100px 0;
}
#projects > div > div:nth-child(1) {
    padding-bottom: 50px;
}
#projects > div > div > div > h2 {
    color: #4C2DB1;
    text-transform: uppercase;
}
#projects > div > div:nth-child(2) > div:nth-child(n) {
    -webkit-box-shadow: 0px 0px 50px 5px rgba(64,38,160,0.5);
    -moz-box-shadow: 0px 0px 50px 5px rgba(64,38,160,0.5);
    box-shadow: 0px 0px 50px 5px rgba(64,38,160,0.5);
}
#projects img {
    width: 100%;
    height: 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(0,0,0,0.7);
    transition: 0.5s ease;
    z-index: 1;
}
#projects .overlay > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.035em;
}
.overlay button {
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
}
#projects .overlay button:hover {
    color: white;
    background: #4C2DB1;
    border: 2px solid #4C2DB1;
}
#projects > div > div:nth-child(2) > div:nth-child(n):hover .overlay {
    opacity: 1;
}
#projects .overlay h5 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}
#projects .detail {
    display: none;
}
.modal-title {
    color: #4C2DB1;
}
#ProjectDetails h6 {
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #4C2DB1;
}
.modal-body > div > div > div {
    display: flex;
    justify-content: left;
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.modal-body span {
    display: inline-block;
    width: 60px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.modal-type {
    padding-left: 10px
}
.modal-scope-list {
    padding-left: 10px;
}
.modal-body li::before {
    content: '●';
    color: #4C2DB1;
    margin-right: 5px;
}
.modal-button {
    background: #4C2DB1;
    color: white;
}
.modal-button:hover {
    background: #080450;
    color: white;
}
.modal-button:focus {
    box-shadow: 0px 0px 10px 5px rgba(64,38,160,0.5);
}
.modal-header {
    padding: 5px 20px;
    align-items: center;
    background: #E1E1E1;
}
.modal-header .close {
    margin: 0 -5px 0 0;
    padding: 0;
    font-size: 1.9rem;
    font-weight: 300;
}
.modal-footer {
    border-top: none;
    padding-top: 0;
}

/*  Footer  */
#contact {
    position: relative;
    border-radius: 100px 100px 0 0;
    background-image: url(../images/background/Background-image-2.svg), linear-gradient(0deg,rgba(8,4,80,1) 83%,rgba(76,45,177,1) 100%);
    background-size: contain;
    background-position-x: bottom;
    background-repeat: repeat-y;
}
#contact > div > div > div > h2 {
    color: #4C2DB1;
    text-transform: uppercase;
}
#contact > div:nth-child(1) > div:nth-child(1) > div {
    -webkit-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 35px -11px rgba(0,0,0,0.75);
    text-align: center;
    background-color: white;
    border-radius: 50px;
}
#contact > div:nth-child(1) > div > div > p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
#contact > div > div:nth-child(2) {
    padding: 50px 0;
}
#contact-form > div > div:last-child {
    width: 100%;
    padding: 0 15px;
}
#contact-form textarea {
    height: 200px;
}
#contact-form button {
    border: 2px solid white;
    border-radius: 50px;
    background: #080450;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: 0.3 ease-in-out;
}
#contact-form button:hover {
    background: #4C2DB1;
    border: 2px solid #4C2DB1;
}
#contact-form button:focus {
    box-shadow: 0px 0px 5px 5px rgba(64,38,160,0.8);
}
#contact-form button:disabled {
    cursor: not-allowed;
}
.spinner-border {
    vertical-align: middle;
    margin-right: 5px;
}
#contact > div > div:nth-child(2) > div:nth-child(2) {
    color: white;
}
#contact > div > div:nth-child(2) > div:nth-child(2) p{
    font-family: 'Red Rose',sans-serif;
}
#contact > div:nth-child(2) > div > div {
    background: #080808;
    padding: 30px 0;
    text-align: center;
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ div > img {
    width: 100px;
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ ul {
    margin: 20px 0 0 0;
    padding: 0;
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ ul > li > a {
    font-size: 1.4em;
    color: white;
    padding: 0 5px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ ul > li > a > i {
    vertical-align: middle;
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ ul > li > a:hover {
    background: rgba(255, 255, 255, 0.3);
}
#contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ ul > li:last-child > a > img {
    width: 1.1em;
}
#contact > div:nth-child(2) > div > div > p {
    margin: 0;
    color: #858585;
    font-size: 12px;
}

/*  Responsiveness  */
/*  Extra small devices (portrait phones, 576px and below)  */
@media (max-width: 575.98px) {
    p, li {
        font-size: 14px;
    }
    h5 {
        font-size: 1.1rem;
    }
    .navbar {
        padding: 10px 15px;
    }
    .banner {
        border-radius: 0;
    }
    .banner > div > div {
        justify-content: center;
    }
    .banner > div > div > div:nth-child(1) {
        width: 315px;
    }
    .banner > div > div:nth-child(1) > div:nth-child(1) > div {
        width: 100%;
        height: 285px;  
        border: 4px solid #CD8A67;
        border-radius: 20px;
    }
    .banner > div > div > div:nth-child(1) > h1 {
        text-align: center;
        font-size: 28px;
    }
    .banner > div > div > div:nth-child(2) span {
        height: 250px;
    }
    #about {
        margin: 20px 15px -100px 15px;
    }
    #about > div {
        padding: 0 10px;
    }
    #about h2 {
        font-size: 24px;
    }
    #about h2::before {
        width: 25px;
        height: 25px;
    }
    #about h2::after {
        width: 25px;
        height: 25px;
    }
    #development p {
        text-align: center;
    }
    #development > div > div > div:nth-child(n) > div > h4 {
        font-size: 18px;
    }
    #development > div > div > div:nth-child(1) {
        padding: 0 15px 25px 15px;
    }
    #development > div > div > div:nth-child(2) {
        padding: 25px 15px 0 15px;
    }
    #development > div > div > div:nth-child(n) > div {
        padding-top: 70px;
    }
    #development > div > div > div:nth-child(1) h4::before {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #development > div > div > div:nth-child(2) h4::before {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #technology-stack > div {
        overflow: hidden;
    }
    #technology-stack > div > div > div > h2 {
        text-align: center;
        font-size: 24px;
    }
    .gallery {
        width: 320px;
        top: 100px;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-bottom: 50px;
    }
    .gallery-cell {
        display: flex;
        width: 66%;
        height: 200px;
        margin-right: 60px;
        padding: 0;
    }
    .flickity-button {
        display: none;
    }
    .gallery-cell > span {
        display: block;
        width: 200px;
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: border-box;
    }
    .flickity-page-dots {
        bottom: -50px!important;
    }
    #projects > div > div > div > h2 {
        text-align: center;
        font-size: 24px;
    }
    #projects > div > div:nth-child(2) > div:nth-child(n) {
        margin: 0 15px 50px 15px;
        padding: 0;
    }
    #projects .overlay h5 {
        font-size: 1.25rem;
    }
    #projects > div > div:nth-child(2) > div:last-child {
        margin: 0 15px;
    }
    #contact {
        border-radius: 0;
    }
    #contact > div:nth-child(1) > div:nth-child(1) {
        padding: 0 15px
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        margin-top: -100px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        padding: 30px;
    }
    #contact > div > div > div > h2 {
        text-align: center;
        font-size: 24px;
    }
    #contact > div > div > div > h4 {
        font-size: 20px;
    }
    #contact > div > div > div > p {
        font-size: 18px;
    }
    #contact-form ::placeholder {
        font-size: 14px;
    }
    #contact-form .form-group {
        padding: 0;
    }
    #contact > div > div:nth-child(2) {
        margin: 0;
        padding: 50px 0;
    }
    #contact-form > div > div:last-child {
        padding: 0;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section > h4:nth-child(2) {
        white-space: nowrap;
    }
}
/*  Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 767.98px) {
    #navbarNav {
        display: none;
    }
    .navbar {
        padding: 10px 20px;
    }
    nav ul li a {
        font-size: 15px;
    }
    .banner > div > div > div:nth-child(1) {
        padding-top: 20px;
    }
    .banner > div > div:nth-child(1) > div:nth-child(1) > div {
        width: 208px;
        height: 208px;  
        border: 4px solid #CD8A67;
        border-radius: 20px;
    }
    .banner > div > div > div:nth-child(2) span {
        height: 250px;
    }
    .banner > div > div > div:nth-child(2) {
        padding: 0;
    }
    #about {
        margin: 20px 10px -100px 10px;
    }
    #development > div > div > div:nth-child(n) > div {
        height: 185px;
    }
    #development > div > div > div:nth-child(1) {
        padding: 0 10px 25px 10px;
    }
    #development > div > div > div:nth-child(2) {
        padding: 25px 10px 0 10px;
    }
    #technology-stack > div > div:nth-child(2) > div:nth-child(4) > span {
        margin-bottom: 50px
    }
    #technology-stack > div > div:nth-child(2) > div:nth-child(8) > span {
        margin-bottom: 50px
    }
    #projects > div > div:nth-child(2) > div:nth-child(n) {
        margin: 0 15px 50px 15px;
        padding: 0;
        width: 510px;
        height: 286px;
    }
    #projects > div > div:nth-child(2) > div:last-child {
        margin: 0 15px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) {
        padding: 0 10px
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        margin-top: -100px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        padding: 30px 50px;
    }
    #contact-form .form-group {
        padding: 0;
    }
    #contact-form > div > div:last-child {
        padding: 0;
    }
    #contact > div > div:nth-child(2) {
        padding: 50px 10px;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
}
/*  Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
    p {
        font-size: 15px;
    }
    .banner > div > div {
        margin: 20px 0 0 0;
    }
    .banner > div > div > div:nth-child(1) {
        padding: 0 70px;
    }
    .banner > div > div:nth-child(1) > div:nth-child(1) > div {
        width: 248px;
        height: 248px;  
        border: 4px solid #CD8A67;
        border-radius: 20px;
    }
    .banner > div > div > div:nth-child(2) span {
        height: 350px;
    }
    #technology-stack > div > div:nth-child(2) > div:nth-child(6) > span {
        margin-bottom: 50px;
    }
    #development > div > div > div:nth-child(n) > div {
        height: 250px;
    }
    #development > div > div > div:nth-child(1) {
        padding: 0 25px 0 0;
    }
    #development > div > div > div:nth-child(2) {
        padding: 0 0 0 25px;
    }
    #development > div > div > div:nth-child(n) > div {
        padding: 30px;
    }
    #about {
        margin: 0 50px -100px 50px;
    }
    #about > div {
        padding: 0 30px;
    }
    #development > div > div > div:nth-child(n) > div > h4 {
        font-size: 17px;
    }
    #projects > div > div:nth-child(2) > div:nth-child(n) {
        margin: 0 15px;
        padding: 0;
        width: 240px;
        height: 135px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) {
        margin: 0 50px
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        margin-top: -100px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        padding: 30px 50px;
    }
    #contact-form > div > div:nth-child(1) {
        padding-right: 15px;
    }
    #contact-form > div > div:nth-child(2) {
        padding-left: 15px;
    }
    #contact-form > div {
        padding-right: 10px;
    }
    #contact > div > div:nth-child(2) > div:nth-child(1) {
        padding: 0;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div {
        padding: 0 25px;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ div {
        height: 172px;
        border-bottom: 2px solid #CD8A67;
    }
}
/*  Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner > div > div {
        margin: 20px 0 0 0;
    }
    .banner > div > div > div:nth-child(1) {
        padding: 0 100px;
    }
    .banner > div > div:nth-child(1) > div:nth-child(1) > div {
        width: 248px;
        height: 248px;  
        border: 4px solid #CD8A67;
        border-radius: 20px;
    }
    .banner > div > div > div:nth-child(2) span {
        height: 350px;
    }
    #about {
        margin: 0 50px -100px 50px;
    }
    #development > div > div > div:nth-child(1) {
        padding: 0 25px 0 0;
    }
    #development > div > div > div:nth-child(2) {
        padding: 0 0 0 25px;
    }
    #technology-stack > div > div:nth-child(2) > div:nth-child(6) > span {
        margin-bottom: 50px;
    }
    #projects > div > div:nth-child(2) > div:nth-child(n) {
        margin: 0 15px;
        padding: 0;
        width: 320px;
        height: 180px;
    }
    #contact > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        padding: 0 25px 0 0;
    }
    #contact > div:nth-child(1) > div:nth-child(1) {
        margin: 0 50px
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        margin-top: -100px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        padding: 30px 50px;
    }
    #contact-form > div > div:nth-child(1) {
        padding-right: 15px;
    }
    #contact-form > div > div:nth-child(2) {
        padding-left: 15px;
    }
    #contact-form > div {
        padding: 0;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) {
        padding: 0 10px;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ div {
        height: 172px;
        border-bottom: 2px solid #CD8A67;
    }
}
/*  Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
    .banner > div > div {
        margin: 20px 0 0 0;
    }
    .banner > div > div > div:nth-child(1) {
        padding: 0 100px;
    }
    .banner > div > div:nth-child(1) > div:nth-child(1) > div {
        width: 248px;
        height: 248px;  
        border: 4px solid #CD8A67;
        border-radius: 20px;
    }
    .banner > div > div > div:nth-child(2) span {
        height: 350px;
    }
    #about {
        margin: 0 80px -100px 80px;
    }
    #about > div {
        padding: 0 50px;
    }
    #development > div > div > div:nth-child(1) {
        padding: 0 25px 0 0;
    }
    #development > div > div > div:nth-child(2) {
        padding: 0 0 0 25px;
    }
    #technology-stack > div > div:nth-child(2) > div:nth-child(6) > span {
        margin-bottom: 50px;
    }
    #projects > div > div:nth-child(2) > div:nth-child(n) {
        margin: 0 15px;
        padding: 0;
        width: 380px;
        height: 210px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) {
        margin: 0 80px
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        margin-top: -100px;
    }
    #contact > div:nth-child(1) > div:nth-child(1) > div {
        padding: 30px 50px;
    }
    #contact > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        padding: 0 25px 0 0;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) {
        padding: 0 10px;
    }
    #contact-form > div > div:nth-child(1) {
        padding-right: 15px;
    }
    #contact-form > div > div:nth-child(2) {
        padding-left: 15px;
    }
    #contact-form > div {
        padding: 0;
    }
    #contact > div > div:nth-child(2) > div:nth-child(2) > div > div > section ~ section ~ div {
        height: 172px;
        border-bottom: 2px solid #CD8A67;
    }
}
@media (max-width: 490px) {
    .modal-body > div > div > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width: 340px) {
    .modal-body > div > div > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
